header {
    position: sticky;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    opacity: 0.8;
    background-color: bisque;
}

#logo {
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}